body {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
    margin: 5px 0px;
    font-weight: lighter;
}

h1, h3, h2 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white
}

img {
    width: 100%;
    height: auto;
}

input {
    outline: none;
}

/* home page styles */

#home-page {
    background-color: #292F36;
    color: white;
    display: flex;
    flex-direction: column;
    height: 600px;
    /* height: auto; */
}

#home-header {
    flex: 0.5;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0px 0px 0px;
    /* background-color: bisque; */
}

#home1 {
    flex: 2;
    display: flex;
    padding-left: 40px;
    /* background-color: blue; */
}

span {
    color: #12F7D6;
}

#home2 {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: grey; */
}

#home-body {
    flex: 5;
    background-color: #292F36;
    display: flex;
    width: 100%;
}

#home-sidepanel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background-color: green; */
}

#home-sidepanel-icons {
    background-color: #1A1E23;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    margin: 50px 0px 0px 0px;
    border: 1px solid white;
    border-radius: 50px;
}

#home-sidepanel-icon {
    color: white;

}

#home-content {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

#home-content-title {
    color: #98FAEC;
    margin: 10px 0px 40px 0px;
    font-size: 60px;
}

#home-content-mid {
    border-left: 4px solid #12F7D6;
    border-top: 4px solid #12F7D6;
    border-top-left-radius: 130px;
    border-bottom-right-radius: 130px;
    width: 80%;
    height: auto;
    /* background-color: #12F7D6; */
}

#home-content11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: teal; */
    border: 4px solid white;
    border-top-left-radius: 125px;
    border-bottom-right-radius: 130px;
    height: auto;
    padding: 15px 20px 15px 0px;
    
}

#home-content-body {
    display: flex;
    /* background-color: pink; */
    width: 100%;
}

#home-content-skills {
    display: flex;
    justify-content: space-around;
    width: 80%;
    /* background-color: yellow; */
    margin: 10px 0px
}

.home-skills {
    background-color: #12F7D6;
    width: 20%;
    border-radius: 15px;
    font-size: 8px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0px;
    color: black
}

#home-content-cv {
    background-color: white;
    border-radius: 50px;
    width: 60%;
    align-self: center;
    color: black;
    display: flex;
    justify-content: center;
    padding: 10px 5px;
}

#home-personal-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0px;
    width: 80%;
    font-size: 12px;
    /* background-color: blanchedalmond; */
}

#image1 {
    width: 30%;
    height: auto;
}

#home-description-title {
    font-size: 35px;
}

#home-content1 {
    flex: 1.5;
    /* background-color: rgb(255, 240, 251); */
}

#home-content2 {
    /* background-color: azure; */
    flex: 2;
}

#home-content-sidepanel {
    flex: 1;
    display: flex;
    align-items: flex-start;
    /* background-color: burlywood; */
}

#home-content-sidepanel-main {
    display: flex;
    flex-direction: column;
    background-color: #1A1E23;
    padding: 25px;
    height: auto;
    border-radius: 70px;
    gap: 40px;
}

#home-content-sidepanel-sub {
    display: flex;
    align-items: center;
    gap: 10px;
}

#home-content-sidepanel-sub1 {
    font-size: 45px;
    color: #12F7D6;
}

/* about page styles */

#about-page {
    background-color: #1A1E23;
    height: 600px;
    /* height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-info {
    display: flex;
    flex-direction: column;
    /* height: 450px; */
    height: auto;
    /* background-color: azure; */
}

#about-info-content {
    background-color: #292F36;
    padding: 30px;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    flex: 1;
}

#about-info-title {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    /* background-color: bisque; */
}

#about-info-title-sub {
    background-color: #292F36;
    padding: 10px 30px;
    font-size: 35px;
    font-weight: bold;
    border: 3px solid #12F7D6;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#about-div-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}

#about-div {
    display: flex;
    gap: 50px;
    align-items: center;
}

#about-image {
    width: 65%;
    /* height: 450px; */
    height: auto;
    border-radius: 20px;
}

/* Skills page */

#skills-page {
    background-image: url('./assets/script.jpg');
}

#skills-page h1 {
    font-size: 50px;
}

#skills-transparent {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #292F36;
    opacity: 0.95;
}

#skills-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    gap: 50px;
}

#skills-description {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#skills-draw {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #E54F26; */
}

.skills-point {
    background-color: #12F7D6;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#skills-line {
    background-color: #12F7D6;
    width: 100%;
    height: 2px;
}

#skills-description p{
    font-size: 12px;
}

#skills-dev {
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-size: 13px;
    /* background-color: darkorange; */
}

.skills-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #98FAEC;
    border-left: 5px solid #28A9E0;
    padding: 10px 30px;
    gap: 5px;
    border-radius: 10px;
}

#skills-lang {
    display: flex;
    width: 80%;
    /* background-color: #0C73B8; */
    padding: 0px 20px;
    color: white;
}

.half-skill {
    flex:1;
    display: flex;
    /* background-color: #E7A020; */
}

.skill-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
}

.skill {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


#html-container {
    background-color: #E54F26;
}

#css-container {
    background-color: #0C73B8;
}

#js-container {
    background-color: #E7A020;
}

#react-container {
    background-color: #28A9E0;
}

/* Works page */

#works-page {
    background-image: url('./assets/17.02.2024_15.22.40_REC.png');
}

#works-page h1 {
    font-size: 50px;
}

#works-transparent {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1A1E23;
    opacity: 0.9;
}


#works-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    gap: 50px;
}

#works {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

#works-images {
    display: flex;
    gap: 15px;
}

#works-div-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#works-image1 {
    width: 42%;
    height: auto;
}

.works-arrows {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background-color: blueviolet; */
}

.works-arr {
    font-size: 30px;
    color: white;
    background-color: #292F36;
    padding: 10px 20px;
    border-radius: 50%;
}

#works-div-image a{
    border-bottom: 2px solid white;
    padding: 5px 0px;
}

/* Blogs Page*/

#blogs-page {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #292F36;
    gap: 7%;
}

#blogs-page h1 {
    font-size: 50px;
}

#blogs-page #skills-draw {
    width: 50%;
}

#blogs-content-footer span {
    font-size: 13px;
    color: white
}

#blogs-content {
    width: 70%;
    display: flex;
    gap: 5%;
    color: white;
    justify-content: center;
    padding: 50px 0px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#blogs-image {
    width: 20%;
    height: auto;
}

#blogs-text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#blogs-readMore {
    /* background-color: grey; */
    width: fit-content;
    padding: 5px 0px;
    border-bottom: 1px solid white;
}

#blogs-content-footer {
    display: flex;
    justify-content: space-between;
}

#blogs-footer1 {
    background-color: #43454D;
    padding: 5px 5px;
    border-radius: 20px;
}

#blogs-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px
}

.blogs-button {
    padding: 12px 25px;
    border-radius: 30px;
    border: 1px solid #12F7D6
}

#blogs-button1 {
    background-color: #12F7D6;
}

#blogs-button2 {
    background-color: #292F36;
    color: white;
}

/* Contact page */

#contact-page {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1E23;
    gap: 7%;
    padding: 20px 0px 0px 0px;
}

#contact-page h1 {
    font-size: 50px;
}

#contact-page #skills-draw {
    width: 65%;
}

#contact-content-title {
    border: 2px solid #12F7D6;
    font-size: 25px;
    padding: 5px 30px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}

#contact-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50%;
    /* background-color: aliceblue; */
}

#contact-form {
    width: 70%;
    height: 50%;
    display: flex;
    /* background-color: antiquewhite; */
    flex-direction: column;
    justify-content: space-around;
}

#contact-form label {
    font-size: 12px;
}

#contact-div-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: antiquewhite; */
}

.contact-input {
    display: flex;
    flex-direction: column;
    gap: 15px
    /* background-color: blue; */
}

#contact-div-input .contact-input {
    width: 45%;
    /* background-color: aqua; */
}

.contact-input input {
    background-color: inherit;
    border: 0px;
    border-bottom: 1px solid #12F7D6;
    color: white;
    padding: 5px;
}

.contact-input input::placeholder {
    color: white;
}

#contact-content button {
    padding: 12px 25px;
    border-radius: 30px;
    border: 1px solid #12F7D6;
    background-color: #12F7D6;
    font-size: 18px;
}

#contact-footer {
    color: white;
    /* align-self: end; */
    width: 99%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    /* background-color: aliceblue; */
}

#contact-footer div {
    display: flex;
    justify-content: space-between;
}

#contact-footer-links {
    width: 10%;
}


@media only screen and (max-width: 700px){

    #about-page {
        height: auto;
    }

    #home-page {
        height: auto;
    }

    #about-div {
        display: flex;
        flex-direction: column;
    }

    #about-image {
        width: 80%;
        height: auto;
        border-radius: 20px;
    }
    
    #home-content-body {
        display: flex;
        /* background-color: pink; */
        width: 100%;
        flex-direction: column;
    }

    #about-info-title {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        /* background-color: bisque; */
    }
    
}