#home-page {
    /* flex: 5; */
    background-color: #292F36;
    color: white;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* background-color: darkviolet; */
}

#home-content {
    width: 100%;
    height: 80%;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    justify-content: center;
    /* background-color: red; */
}

#home-content-body {
    display: flex;
    align-items: flex-end;
    /* background-color: pink; */
    width: 85%;
    height: 100%;
    gap: 5%;
    margin-left: 8.5%;
}

#home-content1 {
    /* flex: 1.5; */
    /* background-color: rgb(255, 240, 251); */
    display: flex;
    align-items: flex-start;
    height: 80%;
}

#home-content-mid {
    display: flex;
    border-left: 4px solid #12F7D6;
    border-top: 4px solid #12F7D6;
    border-top-left-radius: 180px;
    border-bottom-right-radius: 180px;
    width: 370px;
    height: 100%;
    /* background-color: #12F7D6; */
}

#home-content11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: teal; */
    border: 4px solid white;
    border-top-left-radius: 175px;
    border-bottom-right-radius: 180px;
    height: auto;
    padding: 15px 20px 15px 0px;
    
}

#home-content11 > div{
    /* background-color: magenta; */
    width: 75%;
    gap: 5%;
}

#home-content11 h2 {
    letter-spacing: 2px;
    font-size: 32px;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
}

#home-content11 > div > p {
    /* background-color: brown; */
    display: flex;
    justify-content: center;
}

#home-content-skills {
    display: flex;
    justify-content: space-between;
    /* width: 90%; */
    /* background-color: yellow; */
    margin: 0px 0px 10px 0px;
}

.home-skills {
    background-color: #12F7D6;
    width: 23%;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0px;
    color: black
}

#home-content-cv {
    background-color: white;
    border-radius: 50px;
    width: 80%;
    align-self: center;
    color: black;
    display: flex;
    justify-content: center;
    padding: 10px 5px 10px 15px;
}

#home-personal-info {
    display: flex;
    /* align-items: ; */
    gap: 5px;
    margin: 10px 0px;
    width: 80%;
    letter-spacing: 1px;
    /* background-color: blanchedalmond; */
}

#home-personal-info div {
    /* background-color: darkturquoise; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#home-personal-info span {
    /* background-color: plum; */
    /* margin: 5px 0px; */
    font-size: 12px;
}

#home-personal-info p {
    /* background-color: dimgray; */
    font-size: 15px;
}

#image1 {
    width: 35%;
    height: auto;
    border-radius: 50%;
}

#home-description-title {
    font-size: 35px;
    /* background-color: cadetblue; */
}

#home-content2 {
    /* background-color: azure; */
    /* flex: 2; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 5%;
    height: 100%;
}

#home-content h1 {
    flex: 1;
    width: 100%;
    color: #12F7D6;
    /* margin: 0px 0px 20px 120px; */
    font-size: 80px;
    font-weight: 200;
    /* background-color: darkkhaki; */
}

#home-content2 h2 {
    font-size: 55px;
    font-weight:100;
    letter-spacing: 2px;
}

#home-content2 div {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    /* background-color: #0C73B8; */
}

#home-content2 > div > p {
    letter-spacing: 1px;
    font-size: 15px;
}

#home-content2 h3 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    /* background-color: bisque; */
}

#home-content2 i {
    background-color: rgb(95, 95, 95);
    color: #12F7D6;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    /* margin-bottom: 10px; */
    transform: translateY(-3px);
}

#home-content-sidepanel {
    /* flex: 1; */
    display: flex;
    align-items: center;
    height: 80%;
    /* background-color: burlywood; */
}

#home-content-sidepanel-main {
    display: flex;
    flex-direction: column;
    background-color: #1A1E23;
    padding: 25px;
    height: auto;
    border-radius: 70px;
    gap: 40px;
}

#home-content-sidepanel-sub {
    display: flex;
    align-items: center;
    gap: 10px;
}

#home-content-sidepanel-sub1 {
    font-size: 45px;
    color: #12F7D6;
}

@media only screen and (max-width: 1200px){
    #home-page {
        height: 170vh;
    }

    #home-content {
        height: 80%;
        display: flex; 
        justify-content: center;
    }

    #home-content-body {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0;
    }

    #home-content2 {
        width: 60%;
    }

    #home-content2 > h1 {
        display: none
    }

    #home-content2 h2 {
        font-size: 50px;
        letter-spacing: 2px;
    }
}

@media only screen and (max-width: 800px){
    #home-page {
        height: 250vh;
    }

    #home-content-sidepanel {
        justify-content: center;
    }

    #home-content2 {
        width: 70%;
    }

    #home-content2 h2 {
        font-size: 40px;
        letter-spacing: 1px;
    }

    #home-content2 p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 500px){
    #home-page {
        height: 185vh;
    }

    #home-content2 {
        width: 80%;
    }

    #home-content2 h2 {
        font-size: 30px;
        letter-spacing: 1px;
    }

    #home-content-mid {
        width: 310px;
    }

    #home-content-cv {
        width: 75%;
}

}

/* @media only screen and (max-width: 800px) and (orientation: landscape){

    #home-page {
        height: 380vh;
    }
}



@media only screen and (max-width: 1000px) and (orientation: landscape){

    #home-page {
        height: 380vh;
    }
} */