
#skills-page {
    background-image: url('../assets/script.jpg');
}

#skills-page h1 {
    font-size: 50px;
}

#skills-transparent {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #292F36;
    opacity: 0.9;
}

#skills-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    gap: 50px;
}

#skills-description {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#skills-draw {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #E54F26; */
}

.skills-point {
    background-color: #12F7D6;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#skills-line {
    background-color: #12F7D6;
    width: 100%;
    height: 2px;
}

#skills-description p{
    font-size: 16px;
}

#skills-dev {
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-size: 13px;
    /* background-color: darkorange; */
}

.skills-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #98FAEC;
    border-left: 5px solid #28A9E0;
    padding: 10px 0px;
    width: 30%;
    gap: 5px;
    border-radius: 10px;
    /* transform: rotate(45deg); */
    /* animation: transformSkills 5s linear 1 forwards; */
}

/* @keyframes transformSkills {
    to {
        transform: rotateY(0deg);
    }
} */

#skills-lang {
    display: flex;
    width: 80%;
    /* background-color: #0C73B8; */
    padding: 0px 20px;
    color: white;
}

.half-skill {
    flex:1;
    display: flex;
    /* background-color: #E7A020; */
}

.skill-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
}

.skill {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


#html-container {
    background-color: #E54F26;
}

#css-container {
    background-color: #0C73B8;
}

#js-container {
    background-color: #E7A020;
}

#react-container {
    background-color: #28A9E0;
}

@media only screen and (max-width: 700px){

    #skills-transparent {
        padding: 20px 0px;
    }

    #skills-lang {
        flex-direction: column;
    }

    #skills-div {
        gap: 10px;
    }

    #skills-dev {
        flex-direction: column;
        gap: 10px;
    }
}